doctype html
html
	head
		meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
		title= subject
		body
			p New Lead Generated
			strong
				p Contact Name: 
				| #{ContactName}
			strong
				p Organization: 
				| #{Organization}
			strong
				p Email: 
				| #{Email}
			strong
				p Comments: 
				| #{Comments}